.home-content {
  margin: 0 8px;

  .input-zone {
    min-width: 300px;
    max-width: 500px;
    margin: 16px 8px 0;

    .example-form {
      min-width: 100px;
      max-width: 200px;
      width: 100%;

      mat-label {
        color: #000000;
      }
    }

    .example-full-width {
      width: 100%;
    }
  }

  .animation-zone {
    width: 100%;
    border: 1px dashed #000000;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .the-box {
      width: 50px;
      height: 50px;
      background: #000000;
      position: absolute;
    }

    .placeholder {
      color: #ccc9c9;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-content {
    .animation-zone {
      height: 320px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home-content {
    .animation-zone {
      height: 320px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-content {
    .animation-zone {
      height: 500px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-content {
    .animation-zone {
      height: 500px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-content {
    .animation-zone {
      height: 500px;
    }
  }
}
